.reviewWrapper {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 18px;
    border: 1px solid #999999;
    padding: 18px;
    margin: 12px 0;
}

.userInfo {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    align-items: center;
}

.userInfo img {
    object-fit: cover;
    border-radius: 50%;
    margin-right: 18px;
}

.review {
    margin-bottom: 12px;
}

.imageSection img {
    object-fit: cover;
}

.deleteButton {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 6px 12px;
    background-color: #999999;
    border: none;
    border-radius: 18px;
    color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.deleteButton:hover {
    background-color: #8a8a8a;
}